@model DepartmentViewModel



<form asp-action="@ViewBag.Action" class="col-8">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="offset-3 form-group mb-3">
        <label class="form-label" asp-for="Code"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="offset-3 form-group mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="offset-3 form-group mb-3">
        <label class="form-label" asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"> </textarea>
    </div>
    <div class="offset-3 form-group mb-3">
        <label class="form-label" asp-for="CreationDate"></label>
        <input type="Date" asp-for="CreationDate" class="form-control" />
    </div>
    @if (ViewBag.Action == "Create")
    {
                <div class="mt-3">
                    <input type="submit" value="@ViewBag.Action" class="btn btn-primary" />
                    <a asp-controller="Department" asp-action="Index" class="btn btn-light"> Back To List </a>
                </div>
    }
    else
    {
                   <div class="mt-3">
                        <input type="submit" value="@ViewBag.Action" class="btn btn-success" />
                    <a asp-controller="Department" asp-action="Index" class="btn btn-light"> Back To List </a>
                </div>
    }

</form>
