@model DepartmentViewModel

@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<div class="row justify-content-center align-items-center flx-column"></div>

<h1 class="col-6 my-4" >Edit Department</h1>


<partial name="Partials/CreateEditDepartmentPartial" />

@section ValidationScripts
{
            <partial name="_ValidationScriptsPartial"/>
}