@model EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<div class="row justify-content-center align-items-center flx-column"></div>

<h1 class="col-6 my-4" >Create New Employee</h1>

<partial name="Employee_Partials/CreateEditEmployeePartial"/>

@section ValidationScripts
{
            <partial name="_ValidationScriptsPartial"/>
}